In [74]:
# Micha≈Ç Rybicki - PySpark Task_1
import findspark
findspark.init()

In [81]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, FloatType, DecimalType

In [82]:
spark = SparkSession.builder.appName("Task1").getOrCreate()

In [83]:
schema = StructType([
      #StructField("_id",StringType(),True),
      #StructField("index",IntegerType(),True),
      #StructField("guid",StringType(),True),
      #StructField("isActive",BooleanType(),True),
      StructField("balance",StringType(),True),
      #StructField("picture",StringType(),True),
      #StructField("age",IntegerType(),True),
      #StructField("eyeColor",StringType(),True),
      #StructField("name",StringType(),True),
      StructField("gender",StringType(),True),
      #StructField("company",StringType(),True),
      #StructField("email",StringType(),True),
      #StructField("phone",StringType(),True),
      #StructField("address",StringType(),True),
      #StructField("about",StringType(),True),
      #StructField("registered",StringType(),True),
      #StructField("latitude",FloatType(),True),
      #StructField("longitude",FloatType(),True),
      #StructField("tags",StringType(),True),
      #StructField("friends", StringType(), True), 
      #StructField("greeting", StringType(), True),
      #StructField("favoriteFruit", StringType(), True)

  ])

In [84]:
df = spark.read.schema(schema).json("file:///SparkCourse/data_task1.json", multiLine=True)
df.show()

+---------+------+
|  balance|gender|
+---------+------+
|$1,232.31|  male|
|$2,920.66|female|
|$1,819.72|female|
|$1,571.09|female|
|$1,178.43|female|
|$1,952.92|  male|
|$3,020.16|  male|
|$2,574.66|  male|
|$3,864.22|female|
|$3,008.74|female|
|$1,919.67|  male|
|$2,093.91|female|
|$2,840.60|female|
|$2,710.73|  male|
|$3,397.90|  male|
|$1,698.71|  male|
|$1,721.10|female|
|$2,213.65|female|
|$1,585.90|  male|
|$1,401.08|  male|
+---------+------+
only showing top 20 rows

In [85]:
df1 = (df
       .withColumn("new_balance", func.substring(func.col("balance"), 2, 10))
       .withColumn("new_balance", func.regexp_replace(func.col("new_balance"),",", ""))
       .withColumn("new_balance", func.col("new_balance").cast(FloatType())))
df1.show()

+---------+------+-----------+
|  balance|gender|new_balance|
+---------+------+-----------+
|$1,232.31|  male|    1232.31|
|$2,920.66|female|    2920.66|
|$1,819.72|female|    1819.72|
|$1,571.09|female|    1571.09|
|$1,178.43|female|    1178.43|
|$1,952.92|  male|    1952.92|
|$3,020.16|  male|    3020.16|
|$2,574.66|  male|    2574.66|
|$3,864.22|female|    3864.22|
|$3,008.74|female|    3008.74|
|$1,919.67|  male|    1919.67|
|$2,093.91|female|    2093.91|
|$2,840.60|female|     2840.6|
|$2,710.73|  male|    2710.73|
|$3,397.90|  male|     3397.9|
|$1,698.71|  male|    1698.71|
|$1,721.10|female|     1721.1|
|$2,213.65|female|    2213.65|
|$1,585.90|  male|     1585.9|
|$1,401.08|  male|    1401.08|
+---------+------+-----------+
only showing top 20 rows

In [86]:
df2 = df1.groupBy("gender").agg(func.round(func.sum("new_balance"), 2).alias("sum_of_balanced"))
df2.show()

+------+---------------+
|gender|sum_of_balanced|
+------+---------------+
|female|      113979.79|
|  male|      124797.55|
+------+---------------+